.section {
    /* background: rgb(183, 239, 183); */
    margin-top: 350px;


}

.section h2 {

    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    color: #14182A;
}
.clientes{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 10px 80px;
    justify-items: center;
    margin-bottom: 80px;
}